<% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>

<%= simple_form_for(:session, url: login_path) do |f| %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.submit 'Log in' %>
<% end %>
<%= link_to "Sign up", signup_path %>