<div>
  <% if subtask.completed? %>
    <span style="opacity: 0.4; font-size: 30px;">
      <strike><%= subtask.description %></strike>
      <%= link_to complete_task_subtask_path(@task, subtask.id), method: :patch do %>
        <i style="opacity: 0.4;" class="fa fa-check", style="font-size: 20px"></i>
      <% end %>
    </span>

  <% else %>
    <span style="opacity: 1; font-size: 30px;">
   	  <%= subtask.description %>	
      <%= link_to complete_task_subtask_path(@task, subtask.id), method: :patch do %>
        <i class="fa fa-check" aria-hidden="true", style="font-size: 20px"></i>
      <% end %>
    </span>  	
  <% end %>

  <%= link_to task_subtask_path(@task, subtask.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash", style="font-size: 20px"></i>
  <% end %>
</div>