<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


  </head>

  <body id="page-top">

    <%= render 'layouts/navbar' %>

    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
      
      <div id="content-wrapper">

        <div class="container-fluid">
          <%= yield %>
        </div>

      </div>
      
    </div>

  </body>

</html>

<script>
  $(document).on('ready page:load', function () {
    $('#task_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script>